body {
  background-color: #b0e0e6;
}
#main {
  width: 30%;
  margin: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
div {
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
}
input {
  padding: 5px 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}
button {
  padding: 5px;
}
